


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    }
    
    html body {

     overflow-x: hidden;
  }

    body{
    
    height: 100%;
    font-size: 1em;
    font-family: Round;
    text-transform: capitalize;
   background-color: #90e0ef;
     }
    
     h1{
    
      margin-top: 0;
      margin-bottom: 5px; 
      color: #c40080;
      font-size: 60px;
      font-weight: 900;
    }
    
    
    
    
    a{
       font-size: 1.25em;
      font-weight: 700;
      text-decoration: none;
      color: #141414;
      list-style: none;
    }
    

   

     h2{
    
    
    
       margin-bottom: 0.375em;
       line-height: 1.2;
       font-size: 45px;
       font-weight: 900;
    }
    
    
    
    
    /* estilos de menu de navegacion */
     
   /* media barra de navegacion */
    @media screen and (max-width: 600px) {
      .navbar { 
      display: none;
     
      }
    }
    /*fin media barra de navegacion  */
    
    .navbar{
      background-image: linear-gradient(to bottom, #ff5487, #f14485, #e33283, #d41f82, #c40080);
      width: 100%;
      
      font-weight: 700;
      font-size: 15px;
      margin: 0px;
      padding: 20px;
    }
    
    li {
      margin-right: 30px;
    }
     
     
     
     
     .menu{
    
      display: flex;
      align-items: center;
      list-style-type: none;
    
     justify-content: end;

    
    
     }
    

    
     .boton-contacto{
    
        padding: 10px 20px;
        background-color: rgb(112, 97, 248);
        border: none;
        border-radius: 10px;
         margin-top: 15px;
         cursor: pointer;
        color: #0a0a0a;
        
        }
    
    
    
    
    /* fin de estilos del menu de navegacion */
     /* ------------------------------------------------ */
    
     /* estilos seccion precentacion */
    
   #seccion-presentacion{
      height: auto;
      width: 100%;
 
  
     } 

     h1{
    
      margin-top: 0;
      margin-bottom: 5px; 
      color: #c40080;
      font-size: 60px;
      font-weight: 900;
    }

    
    a{
       font-size: 1.25em;
      font-weight: 700;
      text-decoration: none;
      color: #141414;
      list-style: none;
    }
    

   

     h2{

       margin-bottom: 0.375em;
       line-height: 1.2;
       font-size: 45px;
       font-weight: 900;
    }
    
    
  .hola{

  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 30px;
  
}
    .presentacion{

     justify-content: center;
     text-align: center;
      width: 100%;
      max-width: 500px;
      display: flex;
      flex-direction: column; 
    }
    
     .img-precentacion{
      width: 100%;
      max-width: 500px;
      display: block;
     
    }

    button{
      padding: 10px 20px;
      background-color: rgb(112, 97, 248);
      border: none;
      /* border-radius: 10px; */
       margin-top: 30px;
       cursor: pointer;
      color: #0a0a0a;
      text-transform: capitalize;
  }

    
    @media screen and (max-width: 600px) {
      #seccion-presentacion { 
      flex-direction:column;
     
      }
    
    }

    /* fin de estilos de seccion precentacion */
    
    /* ---------------------------------------------------- */
    
    /* -------------estilos de seccion conocimientos */
    
    #seccion-conocimientos{
    
    width: 100%;
    
    }
    
    
    
    
    .informacion{

      height: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding-bottom: 50px;
      padding-top: 50px;

    
    }

     
    
    
    .cuadricula{

      display: flex;
      justify-content: center;
      margin: 40px; 
      flex-wrap: wrap;
     
  
  }

  .item{

    color: #2e2e31;
    max-width: 900px;
    border : 1px solid ;
    border-radius: 8px;
    padding: 30px;
    transition: 0.2s; 
    margin: 20px;
  }

  .lenguaje{
    font-size: 1.25em;
    font-weight: 700;
  }
    /* fin estilos conocimientos */
    
    /* ----------------------------------------------------- */
    
    #seccion-bloque{
     
    
      display: flex;
      justify-content: center;
      padding: 110px 40px 130px;
      text-align: center;
     
       
       /*estilo fondo de la seccion bloque*/
     background-image: linear-gradient(to bottom, #ff5487, #f14485, #e33283, #d41f82, #c40080);
    }
    
     #seccion-bloque p {
    
        font-family: 'Satisfy', cursive;
        font-size: 30px;
        margin-bottom: 0px;
    }
    
    .comillas{

      margin: 15px;
      font-size: 5rem;
      margin-bottom: 20px;

    }
    
    /* ------------------fin de seccion bloque---------------- */
    /* -------------------------------------------------------------------- */
    
    /* inicio seccion proyectos */
    
    #seccion-proyectos{
    
    width: 100%;
   
    
    }
    .proyectos{

      height: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding-bottom: 50px;
      padding-top: 50px;

    
    }

     
    .cuadricula-proyectos{

      display: flex;
      justify-content: center;
      margin: 40px; 
      flex-wrap: wrap;
       gap:2em
  
  }

  .items{

    color: #2e2e31;
    border : 1px solid ;
    border-radius: 8px;
    padding: 30px;
    transition: 0.2s; 
  
  }

   .proyecto-img {

  width: 250px;
 


    }
     
    
    /* fin de seccion proyectos */
    /* ------------------------------------------------------------ */
    
    /* inicio seccion redes y contacto */
    
    #seccion-redes{
    
      width: 100%;
      height: auto;
    
    }
    
    @media screen and (max-width: 600px) {
      .contenedor-redes { 
      flex-direction:column;
   
     
      }
    
    }

     .contenedor-redes{
      
      display: flex;
       border-radius: 15px;
      align-items: flex-start;
      justify-content:center;
      margin: 15px;
  }
      
  .lista-redes{
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;

  
    }
    
    .iconos-redes{
    
        display: flex;
        flex-wrap: wrap;
        margin-top:15px;
        list-style: none;
        text-decoration: none;
  
    }
     .links{

      text-decoration: none;
      list-style: none;
   
     }

   .links li{

    margin: 15px;
   }
    
    .escribeme{
    
      display: flex;
     flex-direction: column;
 
    
    
    }
    
    textarea{
      border-radius: 20px;
      background-color: #dbe1f8;
      padding: 10px 15px;
      display: block;
      width: 100%;
      outline: none;
      transition: 0.2s;
    
    }
    
    /* ------------fin seccion contacto-------------------- */
    
    /* inicio footer */
    
    
    footer{
     margin-bottom: 20px;
      width: 100%;
      background-image: linear-gradient(to bottom, #ff5487, #f14485, #e33283, #d41f82, #c40080);
     
    }
    
   
    .barra-footer{
      list-style: none;
      display: flex;
      text-decoration: none;
      justify-content: center;
      align-items: center;
      padding: 15px;
     
    
        list-style: none;
              
             
    }

    @media screen and (max-width: 600px) {
      .barra-footer { 
      display: none;
     
      }
    } 

.box-footer{

    display: flex;
    align-items: center;
    list-style-type: none;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    padding: 15px;
  

}


    .tex-footer{
     display: flex;
      justify-content: center;
      align-items: center;
    }
    
    
    /* .icono-footer:hover{
      color: #fff;
      background: 200%;
      transform:   scale(1.1);
      background-color: rgb(22, 7, 153);
      
    
    } */
    
    
    
   